.header {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  max-height: 52px;
  padding: 28px 48px 0 48px;
  margin: auto;
}
@media (max-width: 1024px) {
  .header {
    max-width: 1024px;
  }
}
@media (max-width: 768px) {
  .header {
    max-width: 768px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 320px) {
  .header {
    max-width: 320px;
    padding: 16px 16px 0px 16px;
  }
}
