.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 24px auto;
  padding: 0 48px;
}
@media (max-width: 1024px) {
  .footer {
    max-width: 1024px;
  }
}
@media (max-width: 800px) {
  .footer {
    max-width: 768px;
    padding: 0 24px;
  }
}

@media (max-width: 719px) {
  .footer {
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
  }
}

@media (max-width: 320px) {
  .footer {
    max-width: 320px;
    padding: 0px 118px 0px 16px;
    margin: 64px 0px 24px 0px;
    gap: 0px;
  }
}
